<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur 
		adipiscing elit. Vestibulum accumsan sagittis sem sed v
		estibulum. Vivamus malesuada massa augue. Vestibulum ant
		 ipsum primis in faucibus orci luctus et ultrices posuere cu
		 bilia Curae; Quisque quis luctus elit. Curabitur malesuada ut 
		 orci quis iaculis. In quis ligula nulla. Sed cursus felis sit ame
		 t scelerisque pretium. Suspendisse lacinia orci est, at fringilla ni
		 bh consectetur quis. Integer sit amet mi at mauris eleifend sodales. A
		 enean a lacus nisi. Donec dictum placerat commodo. Curabitur volutpat ne
		 c ligula a scelerisque. In quis enim at nulla eleifend pellentesque eget a
		  mi. Etiam pharetra tortor a metus commodo, vel fermentum leo cursus.
	</p>
</article>